<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="https://www.springframework.org/schema/beans"
       xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           https://www.springframework.org/schema/beans 
           https://www.springframework.org/schema/beans/spring-beans.xsd">
           
       <!-- spring beans cfgs -->
       
       <!-- Dependent spring bean cfg -->
       <bean id="ltime" class="java.time.LocalTime" factory-method="now"/>
       <bean id="ldate" class="java.time.LocalDate" factory-method="now"/>
       <!-- Target spring bean cfg -->
       <bean id="wmg" class="com.nt.sbeans.WishMessageGenerator">
       	<!-- setter injection cfg -->
       	<property name="time" ref="ltime"/>
       	<property name="date" ref="ldate"/>
       	<property name="addrs" value="hyd"/>
       </bean>
</beans>