<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Context vs Config</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- this is servletContext using xml -->
  <context-param>
  	<param-name>msg2</param-name>
  	<param-value>Java is Amazing!!(msg2)</param-value>
  </context-param>
  
   <!-- this is servletConfig using xml -->
  <servlet>
  	<servlet-name>DisplayServlet</servlet-name>
  	<servlet-class>com.pack1.DisplayServlet</servlet-class>
  	<init-param>
  		<param-name>msg3</param-name>
  		<param-value>Context Vs Config</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DisplayServlet</servlet-name>
  	<url-pattern>/display</url-pattern> <!-- use only one url weather in the xml or servelt (@WebServlet("/display") -->
  </servlet-mapping>
</web-app>